/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* UTILS */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  min-height: 100px;
}

:root {
  --border: 3px dashed black;
  --border-color2: white;
}

.column-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.column-container-reverse {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  flex-direction: row-reverse;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #7fffd4;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto 50px;
  min-height: 100px;
}

/* HEADER */
header {
  /* debug */
  background-color: #3161e0;
  min-height: 100px;
}

.header-left {
  flex: 1 1 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;

  /* debug */
  /* background-color: #daa520;
  border: var(--border);
  min-height: 50px; */
}

.header-center {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* debug */
  /* background-color: goldenrod;
  border: var(--border);
  min-height: 50px; */
}

.header-right {
  flex: 1 1 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* debug */
  /* background-color: goldenrod;
  border: var(--border);
  min-height: 50px; */
}

header div ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 0.9rem;
}

.login {
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 10px 15px;
  color: #000;
}

a:hover {
  color: red;
}

/* INTRO */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;

  /* debug */
  /* background-color: #00008b;
  border: var(--border);
  min-height: 450px; */
}

.intro-content {
  flex: 0 1 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 150px 0 200px;

  /* debug */
  /* background-color: #ee82ee;
  border: var(--border);
  min-height: 350px; */
}

.intro-title {
  font-size: 3rem;
  color: var(--border-color2);
}

.intro-text {
  text-align: center;
  width: 80%;
  color: var(--border-color2);
}

.intro-button {
  display: flex;
  gap: 30px;
  font-size: 1rem;
}

.download-button {
  background-color: #fff;
  border-radius: 1.5rem;
  width: auto;
  height: 50px;
  padding: 0 15px;
  color: #000;
  line-height: 50px;
}

.download-button:before {
  content: "\2B07";
  font-weight: bolder;
  padding-right: 0.5rem;
}

.open-button {
  background-color: black;
  border-radius: 1.5rem;
  width: auto;
  height: 50px;
  padding: 0 15px;
  color: white;
  line-height: 50px;
}

/* SECTION COLUMNS */

.column-row {
  display: flex;
  justify-content: center;
  align-items: center;

  /* debug */
  background-color: white;
  min-height: 550px;
}

.column-row:nth-of-type(odd) {
  display: flex;
  justify-content: center;
  align-items: center;

  /* debug */
  background-color: #d3d3d3;
  min-height: 550px;
}

.img-column {
  flex: 0 1 60%;

  /* debug */
  background-color: #1e90ff;
  border: var(--border);
  min-height: 400px;
}

.text-column {
  flex: 0 1 40%;

  /* debug */
  background-color: #ffc0cb;
  border: var(--border);
  min-height: 400px;
}

/* BIG SECTION */
.big-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;

  /* debug */
  background-color: #d3d3d3;
  min-height: 900px;
}

.big-section-textbox {
  flex: 1 1 100%;

  /* debug */
  background-color: #228b22;
  border: var(--border);
  min-height: 1000px;
}

/* FOOTER */
footer {
  background-color: #23272a;
}

/* FOOTER TOP */
.footer-top {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;

  /* debug */
  min-height: 600px;
}

.footer-top-left {
  flex: 1 1 30%;

  /* debug */
  background-color: #f08080;
  border: var(--border);
}

.footer-top-right {
  display: flex;
  flex: 1 1 70%;

  /* debug */
  background-color: #20b2aa;
  border: var(--border);
}

.footer-column {
  flex: 1 1 25%;

  /* debug */
  background-color: #20b2aa;
  border: var(--border);
  border-color: var(--border-color2);
}

/* FOOTER BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  border-top: 2px solid;
  border-color: var(--border-color2);
}

.footer-logo,
.footer-button {
  padding: 0.5rem 1.5rem;

  /* debug */
  background-color: #ffb6c1;
  border: var(--border);
  text-decoration: none;
}
