/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.footer-column li {
  display: block;
  line-height: 2rem;
}

/* UTILS */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  min-height: 100px;
}

:root {
  --border: 3px dashed black;
  --border-color2: white;
}

.column-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.column-container-reverse {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  flex-direction: row-reverse;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px auto 50px;
  min-height: 100px;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 2px solid #7289da;

  /* background-color: #7fffd4; */
}

/* HEADER */
header {
  /* debug */
  background-color: #3161e0;
  min-height: 100px;
}

.header-left {
  flex: 1 1 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;

  /* debug */
  /* background-color: #daa520;
  border: var(--border);
  min-height: 50px; */
}

.header-left img:hover {
  cursor: pointer;
}

.header-center {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* debug */
  /* background-color: goldenrod;
  border: var(--border);
  min-height: 50px; */
}

.header-right {
  flex: 1 1 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* debug */
  /* background-color: goldenrod;
  border: var(--border);
  min-height: 50px; */
}

header div ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 0.9rem;
}

.header-center a:hover {
  text-decoration: underline;
}

.login {
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 10px 15px;
  color: #000;
}

.login:hover {
  background-color: #e4e4e4;
}

/* INTRO */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;

  /* debug */
  /* background-color: #00008b;
  border: var(--border);
  min-height: 450px; */
}

.intro-content {
  flex: 0 1 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 150px 0 200px;

  /* debug */
  /* background-color: #ee82ee;
  border: var(--border);
  min-height: 350px; */
}

.intro-title {
  font-size: 3rem;
  color: var(--border-color2);
}

.intro-text {
  text-align: center;
  width: 80%;
  color: var(--border-color2);
}

.intro-button {
  display: flex;
  gap: 30px;
  font-size: 1rem;
}

.download-button {
  background-color: #fff;
  border-radius: 1.5rem;
  width: auto;
  height: 50px;
  padding: 0 15px;
  color: #000;
  line-height: 50px;
}

.download-button:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.download-button:before {
  content: "\2B07";
  font-weight: bolder;
  padding-right: 0.5rem;
}

.open-button {
  background-color: black;
  border-radius: 1.5rem;
  width: auto;
  height: 50px;
  padding: 0 15px;
  color: white;
  line-height: 50px;
}

.open-button:hover {
  background-color: #3b3b3b;
  cursor: pointer;
}

/* SECTION COLUMNS */

.column-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  /* debug */
  min-height: 550px;
}

.column-row:nth-of-type(odd) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);

  /* debug */
  /* min-height: 550px; */
}

.img-column {
  flex: 0 1 60%;
  display: flex;
  align-items: flex-start;

  /* debug */
  /* background-color: #1e90ff;
  border: var(--border);
  min-height: 400px; */
}

.text-column {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  /* debug */
  /* background-color: #ffc0cb;
  border: var(--border);
  min-height: 400px; */
}

.column-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  width: 300px;
}

.column-text {
  font-size: 1.1rem;
  width: 320px;
}

/* BIG SECTION */
.big-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../img/stars.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 875px;
  background-color: rgba(0, 0, 0, 0.1);

  /* debug */
  min-height: 900px;
}

.big-section-textbox {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;

  /* debug */
  /* background-color: #228b22;
  border: var(--border);
  min-height: 1000px; */
}

.big-section-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.big-section h2 {
  font-size: 3rem;
  margin-top: 50px;
}

.big-section p {
  font-size: 1.5rem;
  width: 80%;
  margin: 30px auto 0;
}

.big-section h3 {
  font-size: 2rem;
}

.big-section-download {
  background-color: #8ea1e1;
  border-radius: 1.5rem;
  width: 175px;
  height: 50px;
  padding: 0 15px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.big-section-download:hover {
  background-color: #768fe3;
  cursor: pointer;
}

.big-section-download:before {
  content: "\2B07";
  font-weight: bolder;
  padding-right: 0.5rem;
}

/* FOOTER */
footer {
  background-color: #23272a;
}

footer {
  color: white;
}

/* FOOTER TOP */
.footer-top {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;

  /* debug */
  /* min-height: 600px; */
}

.footer-top-left {
  flex: 1 1 30%;
  padding-top: 70px;
  min-width: 30%;

  /* debug */
  /* background-color: #f08080;
  border: var(--border); */
}

footer ul {
  padding-top: 20px;
}

.footer-top-left p::before {
  content: url(../img/ita.png);
  display: inline-block;
  padding-right: 5px;

  height: 1rem;
}

.footer-top-left p::after {
  content: "\2304";
  padding-left: 5px;
}

.footer-top-left li {
  padding-left: 5px;
}

footer li:hover {
  cursor: pointer;
}

.footer-top-right {
  display: flex;
  flex: 0 1 70%;

  /* debug */
  /* background-color: #20b2aa;
  border: var(--border); */
}

.footer-column {
  flex: 0 1 25%;
  padding-top: 80px;
  padding-left: 120px;

  /* debug */
  /* background-color: #20b2aa;
  border: var(--border);
  border-color: var(--border-color2); */
}

.footer-column li:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer h2,
footer h3 {
  color: #7289da;
  font-size: 2rem;
}

footer h3 {
  font-size: 1.2rem;
}
footer h2 {
  padding-bottom: 30px;
}

/* FOOTER BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 100px;
}

.footer-logo,
.footer-button {
  padding: 0.5rem 1.5rem;

  /* debug */
  /* background-color: #ffb6c1; */
  /* border: var(--border); */
  text-decoration: none;
}

.footer-logo img {
  height: 50px;
}

.footer-logo img:hover {
  cursor: pointer;
}

.footer-button {
  background-color: #8ea1e1;
  border-radius: 1.5rem;
  width: 175px;
  height: 50px;
  padding: 0 15px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.footer-button:hover {
  background-color: #768fe3;
  cursor: pointer;
}
